name: CD Pipeline

on:
  push:
    branches: ["main"]

jobs:
  deploy:
    name: Deploy Backend
    runs-on: ubuntu-latest
    needs:
      - backend-lint
      - backend-static-analysis
      - backend-tests
    # Esto asegura que solo deploye si todo el CI pasa

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'npm'
          cache-dependency-path: package-lock.json

      - name: Install dependencies
        run: npm ci

      - name: Generate Prisma client
        run: npx prisma generate
